<main class="main">
  <h2 class="main_title">CREATE A PRODUCT!</h2>
  <form id="productsForm" class="form">
    <div class="field_container">
      <label for="title" class="label">Title</label>
      <input type="text" class="input" id="title" />
    </div>
    <div class="field_container">
      <label for="photo" class="label">Photo</label>
      <input type="text" class="input" id="photo" />
    </div>
    <div class="field_container">
      <label for="price" class="label">Price</label>
      <input type="number" class="input" id="price" />
    </div>
    <div class="field_container">
      <label for="stock" class="label">Stock</label>
      <input type="number" class="input" id="stock" />
    </div>
    <button id="newProduct" type="button" class="btn">CREATE!</button>
  </form>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/socketsForm.js"></script>