<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>E-COMMERCE</title>
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar_container">
          <a class="navbar_container-item" href="/">HOME</a>
          <a class="navbar_container-item" href="/products/form">FORM</a>
          <a class="navbar_container-item" href="/products/real">REAL</a>
          <a class="navbar_container-item" href="/users/register">REGISTER</a>
        </div>
      </nav>
    </header>

    {{{body}}}

    <footer class="footer">
      <p class="logo">URANO</p>
    </footer>
  </body>
</html>