<main class="main">
  <h2 class="main_title">REGISTRARSE</h2>

  <form id="registerForm" class="form">
    <div class="field_container">
      <label for="email" class="label">Email</label>
      <input type="email" class="input" id="email" />
    </div>
    <div class="field_container">
      <label for="name" class="label">Nombre completo</label>
      <input type="text" class="input" id="name" />
    </div>
    <div class="field_container">
      <label for="photo" class="label">Foto</label>
      <input type="text" class="input" id="photo" />
    </div>
    <button id="registerBtn" type="button" class="btn">REGISTRARSE</button>
  </form>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/socketsRegister.js"></script>