<main class="main">
  <h2 class="main_title">SIGN UP</h2>

  <form id="clientsForm" class="form">
    <div class="field_container">
      <label for="name" class="label">Name</label>
      <input type="text" class="input" id="name" />
    </div>
    <div class="field_container">
      <label for="photo" class="label">Photo</label>
      <input type="text" class="input" id="photo" />
    </div>
    <div class="field_container">
      <label for="email" class="label">Email</label>
      <input type="number" class="input" id="email" />
    </div>
    <button id="newUser" type="button" class="btn">CREATE!</button>
  </form>
</main>