<main class='main'>
	<h2 class='main_title'>REGISTRARSE</h2>

	<form id='registerForm' class='form'>
		<div class='field_container'>
			<label for='email' class='label'>Email</label>
			<input type='email' class='input' id='email' />
		</div>
		<div class='field_container'>
			<label for='name' class='label'>Nombre completo</label>
			<input type='text' class='input' id='name' />
		</div>
		<div class='field_container'>
			<label for='password' class='label'>Contraseña</label>
			<input type='password' class='input' id='password' />
		</div>
		<div class='field_container'>
			<label for='photo' class='label'>Foto</label>
			<input type='text' class='input' id='photo' />
		</div>
		<button id='register' type='button' class='btn'>REGISTRARSE</button>
		<button id='registerGoogle' type='button' class='btn'>REGISTRARSE CON
			GOOGLE</button>
	</form>

	<script src='/register.js'></script>
</main>