.orders_container {
	width: 60%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	overflow-y: scroll;
	overflow: hidden;
}

.order-container {
	width: 100%;
    height: fit-content;
}